/*
Blog Cards
*/

/*PEN STYLES*/
* {
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
  margin: 2rem;
}

.text-white{
     color: #ffffff;
}

.text-black{
    color: #333;
}

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.blog-card a {
  color: inherit;
}
.blog-card a:hover {
  color: #ffdb43;
}
.blog-card:hover .photo {
  -webkit-transform: scale(1.3) rotate(3deg);
          transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left .2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 1.4rem;
}
.blog-card .details a {
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}
.blog-card .details ul li {
  display: inline-block;
}
.blog-card .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f007";
}
.blog-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f133";
}
.blog-card .details .tags ul:before {
  font-family: FontAwesome;
  content: "\f02b";
  margin-right: 10px;
}
.blog-card .details .tags li {
  margin-right: 2px;
}
.blog-card .details .tags li:first-child {
  margin-left: -4px;
}
.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: #232323;
  display: inline-block;
  position: relative;
    text-decoration: none;
}
.blog-card .description .read-more a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin .3s, opacity .3s;
}
.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #ffdb43;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 700px;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card .description:before {
    -webkit-transform: skewX(-3deg);
            transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}
/*End Blog Cards*/

/*Blog Cat Tabs*/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

body {
  font-family: sans-serif;
  background: #f6f9fa;
}

h1 {
  color: #ccc;
  text-align: center;
}

a {
  color: #ccc;
  text-decoration: none;
  outline: none;
}

/*Fun begins*/
.tab_container {
  width: 98%;
  margin: 0 auto;
  
  position: relative;
}

#blog-cat input,
section {
  clear: both;
  display: none;
}

label {
    
  font-weight: 700;
  font-size: 18px;
  display: block;
  float: left;
  width: 20%;
  padding: 1.5em;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #f0f0f0;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
  
  color: #999;
  
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h3 {
  text-align: center;
}

.tab_container [id^="tab"]:checked + label {
  background: #fff;
  box-shadow: inset 0 5px #ffdb43;
}

.tab_container [id^="tab"]:checked + label .fa {
  color: #141414;
}

label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

/*Media query*/
@media only screen and (max-width: 900px) {
  label span {
    display: none;
  }

  .tab_container {
    width: 98%;
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.no_wrap {
  text-align: center;
  color: #ffdb43;
}
.link {
  text-align: center;
}

/*------------- #Blog Cat End Tabss# --------------*/
/**/

.post-link {
  position: relative;
  border: 3px solid #232323;
  z-index: 2;
  padding: 6px 11px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Alegreya Sans SC", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #232323;
}
.post-link:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 6px;
  left: -7px;
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  background-color: #f9d159;
  transition: all 0.3s ease;
}
.post-link:hover:before {
  top: 0;
  left: 0;
  width: 102%;
  height: 100%;
}
.post-link::active:before {
  top: -5px;
  left: 9px;
  width: 102%;
  height: 100%;
}




/*Suscribe form banner botom*/
/*------------- #SUBSCRIBE --------------*/


@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

.widget_blog_subscription {
  display: block;
  margin: 10px auto;
 padding-bottom: 10px;

  min-width: 320px;
  position: relative;
  overflow: hidden;
	background-color: #F6F6F2;
  border-radius: 10px;
}
.widget_blog_subscription:after,
.widget_blog_subscription:before {
  content: '';
  width: 100%;
  height: 10px;
  display: block;
  background-image: repeating-linear-gradient(135deg, #F29B91 0px, #F09290 15px, transparent 15px, transparent 25px, #83B3DB 25px, #84ADCB 40px, transparent 40px, transparent 50px);
}

.widget_blog_subscription p {
  margin: 0;
  text-align: left;
}
.widget_blog_subscription p:first-child {
  margin: 30px 30px 15px;
  color: #232323;
  text-transform: uppercase;
  text-align: left;
  font-size: 15px;
  letter-spacing: 1px;
}
.widget_blog_subscription #subscribe-blog:before {
  content: '>>>>>';
  width: auto;
  height: auto;
  display: block;
  border: 2px solid rgba(242, 155, 145, 0.5);
  padding: 4px;
  position: absolute;
  top: 36px;
  right: -30px;
  color: rgba(242, 155, 145, 0.5);
  font-size: 28px;
  transform: rotate(17deg);
  font-weight: 400;
  text-decoration: underline;
  border-radius: 10px;
}
.widget_blog_subscription #subscribe-blog:after {
  content: '&';
  width: 50px;
  height: 50px;
  display: block;
  border: 4px double rgba(242, 155, 145, 0.5);
  padding: 10px;
  position: absolute;
  bottom: 30px;
  right: -10px;
  color: rgba(242, 155, 145, 0.5);
  font-size: 50px;
  transform: rotate(-30deg);
  font-weight: 400;
  border-radius: 99px;
  text-align: center;
  line-height: 50px;
}
.widget_blog_subscription input[type="text"] {
  margin: 15px 30px;
  color: #999;
  padding: 15px 0 !important;
  text-align: left;
  width: 100% !important;
  max-width: calc(100% - 60px);
  outline: none;
  border: 0;
  font-size: 14px;
  background-color: transparent;
  border-top: 1px solid #83B3DB;
  border-bottom: 1px solid #83B3DB;
}
.widget_blog_subscription input[type="text"]::-webkit-input-placeholder {
	color: #d0d0d0;
}
.widget_blog_subscription input[type="text"]:-moz-placeholder {
	color: #d0d0d0;
}
.widget_blog_subscription input[type="text"]::-moz-placeholder {
	color: #d0d0d0;
}
.widget_blog_subscription input[type="text"]:-ms-input-placeholder {
	color: #d0d0d0;
}
.widget_blog_subscription input[type="submit"] {
  margin: 15px 35px 25px;
  background-color: #83B3DB;
  color: #fff;
  padding: 14px 18px !important;
  text-align: center;
  width: auto;
  max-width: 70%;
  outline: none;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: .1s all ease-in-out;
  -moz-transition: .1s all ease-in-out;
  -o-transition: .1s all ease-in-out;
  transition: .1s all ease-in-out;
  box-shadow: 0px 0px 0px 5px #83B3DB;
}
.widget_blog_subscription input[type="submit"]:hover {
  background-color: #F29B91;
  box-shadow: 0px 0px 0px 5px #F29B91;
}

